/* CartList.css */

.cart__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .cart__header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
  }
  
  .cart__form {
    margin-bottom: 1rem;
  }
  
  .cart__label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-light);
  }
  
  .cart__input {
    padding: 0.5rem;
    border: 1px solid var(--text-light);
    border-radius: 3px;
    width: 100%;
  }
  
  .cart__textarea {
    padding: 0.5rem;
    border: 1px solid var(--text-light);
    border-radius: 3px;
    width: 100%;
  }
  
  .cart__button {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .cart__button:hover {
    background-color: var(--secondary-color-dark);
  }
  
  .cart__success-message {
    margin-top: 1rem;
    color: var(--secondary-color);
  }
  
  /* Add more styles as needed for the rest of your cart content */
  *, ::after, ::before {
    box-sizing: border-box;
    color: white;
}
.h2, h2 {
    font-size: 2rem;
    color: white;
}