/* Lose.css */

.container {
    margin-top: 50px;
  }
  
  .lose-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 0.5rem;
  }
  
  .card{
    border: 2px solid #4e4a4a;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    margin: 10px;
    box-sizing: border-box;
    width: 150px;
}  /* Add more styling as needed */
  