/* Navbar CSS */
.bg-body-tertiary {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)) !important; /* Gradient background with transparency */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  top: -30px; /* Adjust the top positioning */
  width: 100%; /* Set full width */
  z-index: 1000; /* Ensure the navbar appears on top of other content */
}

/* Navbar Brand */
.navbar-brand {
  color: #fff !important; /* Text color */
  font-size: 1.8rem;
}

/* Navbar Links */
.nav-link {
  color: #fff !important; /* Text color */
  font-size: 1.2rem;
  transition: color 0.3s ease; /* Smooth transition effect */
}

.nav-link:hover {
  color: #a1363e !important; /* Text color on hover */
}

/* Navbar Search Input */
.form-control {
  border: 2px solid rgba(255, 255, 255, 0.5) !important; /* Search input border with transparency */
  color: #fff !important; /* Text color */
  background-color: rgb(255, 255, 255) !important; /* Background color with transparency */
}

/* Navbar Search Button */
.btn-outline-success {
  border-color: #979797 !important; /* Search button border color */
  color: #9a9a9a !important; /* Text color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}

.btn-outline-success:hover {
  background-color: #a2a2a2 !important; /* Background color on hover */
  color: #fff !important; /* Text color on hover */
}

/* Navbar Fixed Top Position */
.fixed-top {
  position: fixed !important; /* Fix the navbar at the top of the page */
  width: 100%; /* Set full width */
  top: 0; /* Adjust the top positioning */
  z-index: 1000; /* Ensure the navbar appears on top of other content */
}

/* Optional: Add more custom styles/animations as needed */
.op {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
  margin-top: -10px;
}

.op:hover {
  transform: rotateY(180deg);
}

.modify {
  color: #fff;
}
.navbar-scrolled {
  background: linear-gradient(to right, rgba(63, 20, 25, 0.252), rgba(26, 32, 38, 0.95)); /* Add the gradient background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add the box shadow */
}
.kh{
  width: 40px;
  height:40px;
}
#nb {
  margin-left: 400px;
  
}

/* .im{
  color: beige;
} */
#a{
  margin-left:  20px;
}