@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


.mb-4{
    background-color:#111317; ;
    width: 110%;
    height: 50%;
}
.p-0{
    background-color:#111317; ;
}
.pp {
    background-color:#111317; 
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.m{
color: aliceblue;
}
.lm{
    color: rgb(210, 84, 37);
}
.py{
    margin-top: 8%;
    border-color: rgb(153, 158, 162);
    
}
.rounded-circle{
    margin-left: 20px;
}
.mb-4 {
   
   margin: 10px;
    margin-top: -10px;
 
  }
  
 .nn{
    height: 80%;
 } 
 .mb{
    background-color: #111317;
 }
 .o{
    margin-top: -50px;
 }
 #l{
    margin-left: -25px;
    margin-top: 10px;
    height: 300px;
 }
 #z{
    margin-left: -10px;
    margin-top: 10px;
    height: 310px;
    width: 100%;
 }
 #t{
    margin-top: 30px;
 }
 #r{
    width:80% ;
    height: 20px;
    margin-top: 3px;
    margin-left: 35px;
    text-align: center;
 }
 .n{
    color: rgb(173, 91, 61);
    background-color: #111317;
    margin-left: -26px
 }
 #a{
   margin-left: -40px;
   margin-top: -400px;
 }
 h6{
  margin-top: -15%;
 }