.search-input {
  padding: 7px;
  width: 24%;
  box-sizing: border-box;
  font-size: 15px;
  border: 0px solid #ccc;
  border-radius: 39px; /* Adjust font size */
  }
  
  .search-input::placeholder {
    color: #aaa; /* Adjust placeholder color */
  }
  .search{
    padding: 7px;
    width: 24%;
    box-sizing: border-box;
    font-size: 15px;
    border: 0px solid #ccc;
    border-radius: 39px;
}


  
  .search-input::placeholder {
    color: #aaa; 
}
