@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


.mb-4{
    background-color:#111317; ;
}
.p-0{
    background-color:#111317; ;
}
.pp {
    background-color:#111317; 
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.m{
color: aliceblue;
}
.lm{
    color: rgb(210, 84, 37);
}
.py-5{
    margin-top: -20px;
    border-color: rgb(153, 158, 162);
}
.rounded-circle{
    margin-left: 70px;
}